@font-face{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
    format('opentype');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
    format('opentype');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
    format('opentype');
}
*{
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR';
}
ul, li{
    list-style: none;
}
a{
    outline: none;
    text-decoration: none;
    color:#555;
}
section{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #ffffc6;
    border-bottom: 1px #333 dashed;
    border-width: 5px;
}
.gong{
    width: 150px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    margin-top: 180px;
}
.gong> div{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50px;
    margin: 0 auto;
    z-index: 1;
}
.nav_menu{
    width: 150px;
    height: 270px;
    position: fixed;
    z-index: 30;
    top: 30%;
    right: 2%;
}
.nav_menu> img{
    width: 150px;
}
.nav_menu> nav{
    position: absolute;
    left: 30%;
    bottom: 27%;
}
.nav_menu> nav> ul> li> a{
    font-family: 'Cooper Std';
    color: #000;
}
.nav_menu> nav> ul> li> ul> li> a{
    font-family: 'Cooper Std';
    color: #000;
}
.note{
    width: 950px;
    height: 550px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px 25px;
    background-color: #e1d18a;
    box-shadow: 0px 5px 5px #333;
    display: flex;
    flex-direction: column;
}
.note_title{
    width: 100%;
    height: 15%;
    border-bottom: 5px #333 solid;
}
.note_title> p:nth-child(1){
    width: 400px;
    height: 15px;
    border-bottom: 25px rgb(155, 155, 55) solid;
    font-size: 50px;
    font-family: 'Cooper Std';
    margin-bottom: 5px;
}
.note_title> p:nth-child(2){
    font-size: 20px;
}
.note_back{
    width: 100%;
    height: 65%;
    margin-top: 2%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
/*---- 섹션1 ----*/
#sct1{
    text-align: center;
    margin: 0 auto;
}
#sct1> img{
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
}
/*---- 섹션2 ----*/
#sct2{
    overflow: hidden;
}
#sct2> .sct2{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 10;
    background-color: #ffffc6;
}
.sct2> .sct2_title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.sct2> .sct2_title> div{
    width: 50%;
    height: 100%;
    display: flex;
}
.sct2> .sct2_title> div> p{
    font-family: 'Cooper Std';
    font-size: 50px
}
.sct2> .sct2_title> div> img:nth-child(2){
    width: 250px;
    height: 50px;
    margin-left: 1%;
}
.sct2> .sct2_title> img:nth-child(2){
    margin: 1% 0;
    width: 50%;
    height: 40px;
}
.sct2> .sct2_more{
    width: 100%;
    height: 85%;
    display: flex;
}
.sct2> .sct2_more> div:nth-child(1){
    height: 100%;
    justify-content: space-between;
}
.sct2> .sct2_more>div:nth-child(1)> img{
    width: 180px;
}
.sct2> .sct2_more>div:nth-child(1)> p:nth-child(2){
    width: 320px;
    height: 15px;
    font-size: 20px;
    border-bottom:#ffcc1a 10px solid;
}
.sct2> .sct2_more>div:nth-child(1)> p:nth-child(3){
    width: 160px;
    height: 15px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: #ffcc1a 15px solid;
    margin-bottom: 15px;
}
.sct2> .sct2_more>div:nth-child(1)> p:nth-child(4){
    border-top: #000 10px solid;
    width: 125px;
    height: 25px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 900;
}
.sct2> .sct2_more>div:nth-child(1)> p{
    height: 20px;
}
.sct2> .sct2_more> .sct2_memo{
    flex-grow: 5;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #e1d18a;
    box-shadow: 1px 3px 5px #333;
    display: flex;
    flex-direction: column;
}
.sct2> .sct2_more> .sct2_memo> p{
    font-family: 'Cooper Std';
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
}
.sct2> .sct2_more> .sct2_memo> div:nth-child(2){
    width: 90%;
    height: 65%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 5px #333;
}
.sct2> .sct2_more> .sct2_memo> div:nth-child(3){
    width: 90%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.sct2> .sct2_more> .sct2_memo> div:nth-child(3)> img{
    width: 70px;
    height: 70px;
    margin-top: 15px;
}
/*---- 섹션3 ----*/
#sct3{
}
/*---- 섹션4 ----*/
#sct4{

}



